input.sheet-character_name {
    width: 200px;
}
select.sheet-character_species {
    width: 200px;
}
input.sheet-character_scl_1 {
    width: 50px;
}
input.sheet-character_scl_2 {
    width: 45px;
}
input.sheet-character_scl_3 {
    width: 50px;
}
input.sheet-character_package {
    width: 200px;
}

input.sheet-characteristic {
    width: 50px;
}
.sheet-skillrank {
    width: 50px;
}
.sheet-skillattribute {
    width: 80px;
    font-size: 0.8em;
}
.sheet-skillmax {
    width: 50px;
    border: none;
    background: #fff;
    text-align: center;
}
td {
    padding: 3px 5px;
}
.sheet-skillist_name {
    width: 200px;
}
.sheet-skillist_rank {
    width: 60px;
}
.sheet-skillist_characteristic {
    width: 60px;
}
.sheet-skillist_max {
    width: 100px;
}
.sheet-skillist_roll {
    width: 60px;
}
.sheet-skill_column {
    width: 325px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0px 1em 0px 0px;
}

.sheet-characteristic_row {
    margin: 0px 0px 1em 0px;
}
.sheet-characteristic_item {
    display: inline-block;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 5px;
}
.sheet-characteristic_header {
    display: inline-block;
}
.sheet-characteristic_field {
    display: inline-block;
}
.sheet-padge_row, .sheet-padge_item {
    margin: 0px 0px 0.5em 0px;
}
.sheet-padge_header {
    width: 100px;
    display: inline-block;
}

.sheet-padge_field {
    width: 200px;
    display: inline-block;
}

div.sheet-tab_selector {
    margin: 1em 0px 0px 0px;
}

div.sheet-namecontainer {
    height: 1.5em;
}

div.sheet-tab-content {
    display: none;
    border-top: 1px solid #444;
    margin-top: 2px;
}

table.sheet-armorAndHitPoints {
    border-radius: 5px;
    border: 2px solid #bbb;
}

div.sheet-data_container {
    border: 2px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #aaa;
    padding: 5px;
    margin: 1em 0px 0px 0px;
}

.sheet-data_container_single {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 3px;
    margin: 0.5em 0px 0px 0px;
}

input.sheet-hits, input.sheet-damage, input.sheet-pv, input.sheet-id, input.sheet-ad, input.sheet-wounds {
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 30px;
    vertical-align: top;
}


textarea.sheet-advantanges {
    width: 90%;
    height: 10em;
}
textarea.sheet-notes {
    width: 90%;
    height: 20em;
}
textarea.sheet-simple_equipments {
    width: 90%;
    height: 20em;
}
input.sheet-tab-summary:checked ~ div.sheet-tab-summary,
input.sheet-tab-skills:checked ~ div.sheet-tab-skills,
input.sheet-tab-ebb:checked ~ div.sheet-tab-ebb,
input.sheet-tab-equipment:checked ~ div.sheet-tab-equipment {
    display: block;
}
input.sheet-tab-new {
    cursor: pointer;
    height: 20px;
    opacity: 0;
    position: relative;
    width: 120px;
    z-index: 9999;
}

span.sheet-tab-new {
    border: 1px solid #51597f;
    background-color: white;
    border-radius: 4px;
    color: #51597f;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin-left: -122px;
    position: relative;
    text-align: center;
    line-height: 20px;
    width: 120px;
    padding: 3px 5px;
}

input.sheet-tab-new:checked + span {
    background: #51597f none repeat scroll 0 0;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.sheet-weapon_name {
    width: 100px;
}
.sheet-weapon_size {
    width: 30px;
}
.sheet-weapon_calibre {
    width: 70px;
}
.sheet-weapon_pen {
    width: 30px;
}
.sheet-weapon_dmg {
    width: 30px;
}
.sheet-weapon_ad {
    width: 30px;
}
.sheet-weapon_rof {
    width: 50px;
}
.sheet-weapon_range {
    width: 40px;
}
.sheet-weapon_ammo {
    width: 40px;
}
.sheet-weapon_clips {
    width: 40px;
}
.sheet-weapon_recoil {
    width: 40px;
}
.sheet-weapon_ammotype {
    width: 100px;
}
.sheet-armor_name {
    width: 200px;
}
input.sheet-weapon_modifier {
    width: 50px;
}
input.sheet-armor-pv {
    width: 50px;
}
input.sheet-armor-id {
    width: 50px;
}
input.sheet-armor-note {
    width: 300px;
}
textarea.sheet-armor_note {
    width: 90%;
    height: 5em;
}
td.sheet-armor_divider_column {
    background: #eee;
}
textarea.sheet-armor_notes {
    width: 120px;
    font-size: 0.8em;
}
input.sheet-armor_name {
    width: 120px;
    font-size: 0.8em;
}
.sheet-wounds_label, .sheet-wounds_value_cell {
    text-align: top;
}
th.sheet-equipment_carried_col, td.sheet-equipment_carried_col {
    width: 50px;
    display: inline-block;
    padding: 0px;
    text-align: center;
}
th.sheet-equipment_name_col, td.sheet-equipment_name_col {
    width: 200px;
    display: inline-block;
    padding: 0px;
}
th.sheet-equipment_notes_col, td.sheet-equipment_notes_col {
    width: 300px;
    display: inline-block;
    padding: 0px;
}
th.sheet-equipment_weight_col, td.sheet-equipment_weight_col {
    width: 50px;
    display: inline-block;
    padding: 0px;
}
input.sheet-equipment_name {
    width: 200px;
}
input.sheet-equipment_weight {
    width: 50px;
}
input.sheet-equipment_notes {
    width: 300px;
}
input.sheet-money_c {
    width: 75px;
}
input.sheet-money_u {
    width: 75px;
}
.sheet-finances {
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    padding: 0px;
    vertical-align: center;
    padding: 5px;
    border-radius: 5px;
}
.sheet-picture {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    vertical-align: center;
}
.sheet-picture h4 {
    margin: 0.2em 0px 0.2em 0px;
}

.sheet-xp_box {
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    padding: 0px;
    vertical-align: center;
    padding: 5px;
    border-radius: 5px;
}
.sheet-xp_available, .sheet-xp_used {
    width: 75px;
}
.sheet-xp_box h4 h3 {
    margin: 0.2em 0px 0.2em 0px;
}

.sheet-movement_block {
    border: 1px solid #999;
    display: inline-block;
    border-radius: 10px;
    width: 75px;
    text-align: center;
    padding: 5px;
}

.sheet-movement_input {
    width: 50px;
}

.sheet-no_border {
    border: none;
}

input.sheet-difficulty {
    width: 75px;
}
input.sheet-initiative {
    width: 100px;
}
.sheet-characteristic_item_initiative {
    width: 110px;
}
.sheet-weapon_stat {
    display: inline-block;
}
.sheet-weapon_box {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
}
.sheet-weapon_notes {
    width: 400px;
}
.sheet-drugs_carried_col {
    width: 50px;
    padding: 5px;
}
.sheet-drugs_name_col {
    width: 160px;
    padding: 5px;
}
.sheet-drugs_name {
    width: 150px;
    padding: 5px;
}
.sheet-drugs_qnty_col {
    width: 60px;
    padding: 5px;
}
.sheet-drugs_qnty {
    width: 50px;
    padding: 5px;
}
.sheet-drugs_uses_col {
    width: 60px;
    padding: 5px;
}
.sheet-drugs_uses {
    width: 50px;
    padding: 5px;
}
.sheet-drugs_weight_col {
    width: 60px;
    padding: 5px;
}
.sheet-drugs_addicted {
    width: 50px;
    padding: 5px;
}
.sheet-drugs_notes_col {
    width: 310px;
    padding: 5px;
}
.sheet-drugs_notes {
    width: 300px;
    padding: 5px;
}
.sheet-flux_carried_col {
    width: 50px;
    padding: 5px;
}
.sheet-flux_name_col {
    width: 160px;
    padding: 5px;
}
.sheet-flux_name {
    width: 150px;
    padding: 5px;
}
.sheet-flux_max_col {
    width: 60px;
    padding: 5px;
}
.sheet-flux_max {
    width: 50px;
    padding: 5px;
}
.sheet-flux_flux_col {
    width: 60px;
    padding: 5px;
}
.sheet-flux_flux {
    width: 50px;
    padding: 5px;
}
.sheet-flux_max {
    width: 50px;
    padding: 5px;
}

.sheet-flux_weight_col {
    width: 60px;
    padding: 5px;
}
.sheet-flux_weight {
    width: 50px;
    padding: 5px;
}

.sheet-flux_addicted {
    width: 50px;
    padding: 5px;
}
.sheet-flux_notes_col {
    width: 310px;
    padding: 5px;
}
.sheet-flux_notes {
    width: 300px;
    padding: 5px;
}